{% if datastructs -%}
{% for struct in datastructs -%}
use libproctor::{{ struct.0 }}::{{ struct.1 }};
{% endfor %}
{% endif -%}
struct Solution;

//>>>>>
{{ code }}
//<<<<<

#[cfg(test)]
mod tests {
    use super::*;
    {%- if examples -%}
    {% for example in examples %}

    #[test]
    fn case_{{ loop.index }}() {
        let {% if variables | length > 1 %}({% endif -%}
        {% for variable in variables -%}
        {{ variable.0 }}{% if not loop.last %}, {% endif -%}
        {% endfor -%}
        {% if variables | length > 1 %}){% endif %} = {% if variables | length > 1 %}({% endif -%}
        {% for e in example -%}
        {{ e }}{% if not loop.last %}, {% endif -%}
        {% endfor -%}
        {% if variables | length > 1 %}){% endif %};
        let info_msg = format!("Input: {% for variable in variables -%}
        {{ variable.0 }} = {:?}{% if not loop.last %}, {% endif -%}
        {% endfor %}", {% for variable in variables -%}
        {{ variable.0 }}{% if not loop.last %}, {% endif -%}
        {% endfor %});
        let expected_output = ; // fill in expected result here

        let output = Solution::{{ function }}({% for variable in variables -%}
        {{ variable.0 }}{% if not loop.last %}, {% endif -%}
        {% endfor %});

        assert_eq!(output, expected_output, "{}", info_msg);
    }
    {%- endfor %}
    {%- endif %}
}
